In [7]:
import pandas as pd
import spacy
nlp = spacy.load('en_core_web_sm')
df = pd.read_excel("riots.xlsx")
df['Text'] = df['Text'].str.replace('\d+', '')
df.head()

   Year                                               Text
0  2006   – Stanley Cup Western Conference Finals (Edmo...
1  2006                                  – Cartoon riots[]
2  2006   –  Nuku'alofa riots, November  (Nuku'alofa, T...
3  2006       –  Dublin riots, February  (Dublin, Ireland)
4  2006   – San Bernardino punk riot, March  San Bernar...

In [16]:
text = nlp(df.Text[0])
print(text)
for ent in text.ents:
    if ent.label_ == "GPE":
        print(ent.text+' - '+ent.label_)

 – Stanley Cup Western Conference Finals (Edmonton Oilers victory), May , Edmonton, Alberta, Canada[]
Alberta - GPE
Canada - GPE

In [31]:
df['Entities'] = df['Text'].apply(lambda x: list(nlp(x).ents))
df.head()

,Year,Text,Entities
0,2006,– Stanley Cup Western Conference Finals (Edmo...,"[( , –), (Edmonton, Oilers), (May), (Edmonton)..."
1,2006,– Cartoon riots[],"[( , –, Cartoon)]"
2,2006,"– Nuku'alofa riots, November (Nuku'alofa, T...","[(November), (Tonga)]"
3,2006,"– Dublin riots, February (Dublin, Ireland)","[(Dublin), (February), (Dublin), (Ireland)]"
4,2006,"– San Bernardino punk riot, March San Bernar...","[( , –), (March, , San, Bernardino), (Califor..."

In [50]:
from geotext import GeoText
places = GeoText(df.Text[0])
print (places.countries)

['Canada']

In [44]:
df['Countries'] = df['Text'].apply(lambda x: list(GeoText(x).countries))

In [46]:
df['Cities'] = df['Text'].apply(lambda x: list(GeoText(x).cities))

In [47]:
df.head()

,Year,Text,Entities,Countries,Cities
0,2006,– Stanley Cup Western Conference Finals (Edmo...,"[( , –), (Edmonton, Oilers), (May), (Edmonton)...",[Canada],[Edmonton]
1,2006,– Cartoon riots[],"[( , –, Cartoon)]",[],[]
2,2006,"– Nuku'alofa riots, November (Nuku'alofa, T...","[(November), (Tonga)]",[Tonga],[]
3,2006,"– Dublin riots, February (Dublin, Ireland)","[(Dublin), (February), (Dublin), (Ireland)]",[Ireland],"[Dublin, Dublin]"
4,2006,"– San Bernardino punk riot, March San Bernar...","[( , –), (March, , San, Bernardino), (Califor...",[],"[San Bernardino, March, San Bernardino]"

In [51]:
df.to_csv("updated_riots.csv",index = False)